export CK_HTTP_SERVER_HOST="localhost"
export CK_HTTP_SERVER_PORT="8080"

export CK_DB_PG_USER="cook"
export CK_DB_PG_PASS="cook"
export CK_DB_PG_SCHEMA="cook"
export CK_DB_PG_DATABASE="foorester"
export CK_DB_PG_HOST="127.0.0.1"
export CK_DB_PG_PORT="5432"
export CK_DB_PG_SSL="false"

export CK_API_ERRORS_EXPOSE_INTERNAL="false"
